{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 mt-3 left">
        {% for post in post_list %}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ post.title }}</h2>
              <p>
                {% for tag in post.tags.all %}
                  <a href="?tag={{ tag.name }}" class="tag">{{ tag.name }}</a>
                {% endfor %}
              </p>
              <p class="card-text text-muted h6 d-flex justify-content-between">
                <span><a href="{% url 'blog:user_detail' post.user.id %}">{{ post.user }}</a> | {{ post.created_at }}</span>
                <span>{{ post.views }} view{{ post.views|pluralize:",s" }}</span>
              </p>
              <p class="card-text">{{ post.content|slice:":200" }}</p>
              <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-lg">Read More &rarr;</a>
            </div>
          </div>
        {% endfor %}
        {% include "includes/pagination.html" %}
      </div>
      {% include "includes/sidebar.html"  with tags=tag_list %}
    </div>
  </div>
{% endblock %}
