{% extends 'base.html' %} {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
          <p class=" text-muted">{{ post.user }} | {{ post.created_at }}</p>
          <p class="card-text ">{{ post.content | safe }}</p>
        </div>
        <div class="card-body mt-1">
          <p class="text-muted">{{ post.views }} view{{ post.views|pluralize:",s" }}</p>
        </div>
      </div>

      <div class="col-md-4 float-right ">

        <div class="card my-3">
          <a class="btn grey" href="{% url 'blog:post_list' %}">Back</a>
        </div>
  
        <div class="card my-3">
          <h5 class="card-header">Tags</h5>
          <div class="card-body">
            {% for tag in post.tags.all %}
              <a href="{% url 'blog:post_list' %}?tag={{ tag.name }}" class="tag">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>

    <div class="row">

      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          <h3>Leave a comment</h3>
          <form method="post" style="margin-top: 1.3em; width: 100%">
            <div class="d-flex flex-column">
              <div>
                {{ comment_form.as_p }}
                {% csrf_token %}
              </div>
              <div class="d-flex bd-highlight">
                <button type="submit" class="btn btn-primary btn-lg mr-3">Submit</button>
                <input type="button" class="btn btn-default btn-lg ml-3" value="Reset" id="resetBtn"
                       onclick="this.form.reset()">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-8 card mb-4  mt-3 ">
        <div class="card-body">
          <h2>{{ comments.count }} comments</h2>
          {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
              <div class="font-weight-bold">
                {{ comment.user }}
                <span class=" text-muted font-weight-normal">
                  {{ comment.created_at }}
                </span>

                {% if comment.user == user %}
                  <form method="POST" style="display: inline" action="{% url 'blog:comment_delete' comment.id %}">
                    {% csrf_token %}<input class="btn btn-link" type="submit" value="DELETE">
                  </form>
                {% endif %}

              </div>
              {{ comment.content | linebreaks }}
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
{% endblock content %}
